#quiz {max-width:660px; position:relative; margin:0 auto; color:#2F2F2F; border:1px solid #D7D7D7; padding:0.75rem; border-radius:5px; overflow-y:auto; font-family:Georgia, 'Times New Roman', Times, serif;}
#quiz .q-quiz-button {outline:none; display:inline-block; border:0; margin:0; padding:0.5rem 1rem; color:#444; text-transform:uppercase; font-size:0.85rem; letter-spacing:1px; border-radius:5px;}
#quiz .q-quiz-button:hover {cursor:pointer;}
#quiz #q-previous-question {position:absolute; left:0.75rem; top:0.75rem; display:none; background:lightblue;}
#quiz #q-next-question {position:absolute; right:0.75rem; top:0.75rem; display:none; background:lightblue; color:azure;}
#quiz #q-quiz-results {position:absolute; right:0.75rem; top:0.75rem; display:none; background:lightblue; color:azure; transition:opacity 0.35s ease;}
#quiz #q-quiz-close {color:#fff; background:#aaa; margin:1rem;}
#quiz #q-quiz-reset {color:#fff; background:#aaa; margin:1rem;}
#quiz .q-questions {overflow-y:auto; display:none;}
#quiz .q-question {margin:0; font-size:1.25rem; line-height:1.35rem; font-weight:normal;}
#quiz .q-progress {margin:0.5rem 0; font-size:0.75rem; line-height:normal;}
#quiz #q-number, #quiz #q-total {margin:0 0.25rem;font-size:1rem;}
#quiz .q-main {width:62%; float:left; margin-bottom:0.75rem; margin-right:-1px; border-right:1px solid #ccc; padding-right:2%;}
#quiz .q-meta {width:33%; float:left; border-left:1px solid #ccc; padding: 0 0 0.75rem 2%;}
#quiz .q-meta img {width:100%; height:auto; padding-bottom:0.5rem; transition:opacity 0.7s ease;}
#quiz .q-meta .q-answer-details {opacity:0; transition:opacity 0.7s ease; font-size:0.85rem; line-height:1.1rem;}
#quiz .q-options {list-style-type: none; margin:0 !important; padding:0 !important; font-family:Verdana, Arial, Helvetica, sans-serif;}
#quiz .q-option {padding:0.5rem 0 !important; font-size:0.85rem; margin:0.75rem 0 0 0 !important; border-radius: 5px; background:#ddd !important; text-align: center;}
#quiz .q-option:hover {cursor:pointer;}
#quiz .q-answered .q-option:hover {cursor:default;}
#quiz .q-answered .q-correct {transition:background-color 0.7s; background:#17b248 !important; color:#fff;}
#quiz .q-answered .q-incorrect {transition:background-color 0s; background:#b50300 !important; color:#fff;}
#quiz .q-quiz-footer {overflow-y:auto; background:#eee; position:relative; text-align:center; border-top:1px solid #ddd; margin:0 -0.75rem -0.75rem -0.75rem; padding:0.75rem; font-family:Verdana, Arial, Helvetica, sans-serif;}
#quiz .q-quiz-overlay {position:absolute; top:0; width:100%; height:100%; left:0; z-index:3; background:#ccc; opacity:0.95;}
#quiz .q-results-overlay {position:absolute; top:0; width:100%; height:100%; left:0; z-index:4; text-align:center;}
#quiz .q-results-overlay .button {margin:0.75rem;}
#quiz .q-results-overlay p {margin:5rem 0 0 0; color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:1.2rem; line-height:1.7rem;}
#quiz .q-results-overlay a {text-decoration:none;}
#quiz .q-facebook {background:#3b5999 !important; margin:1rem; color:#fff;}
#quiz .q-twitter {background:#55acee !important; margin:1rem; color:#fff;}
#quiz .q-email {background:#17b248 !important; margin:1rem; color:#fff;}
@media (max-width: 480px) {
  #quiz .q-main {float: none; width:100%; border-right:none; margin-right:0; padding-right:0;}
  #quiz .q-meta {float: none; width:100%; border-left:0; border-top:1px solid #ccc; padding:0.75rem 0;}
  #quiz .q-options {margin-left:0;}
  #quiz #q-previous-question, #quiz #q-next-question, #quiz #q-quiz-results {position:initial; width:100%;}
}
